# BACKEND_BASE_URL=http://127.0.0.1:8000/api
BACKEND_BASE_URL=  # prod
APP_VERSION=V1.0.0

# Scalling in win , linux , macos
APP_SCALE_FACTOR=1

# APP_SCALE_FACTOR=1.0 = Windows 100%
# APP_SCALE_FACTOR=1.25 = Windows 125%
# APP_SCALE_FACTOR=1.5 = Windows 150%

#pyinstaller -D --noconfirm --clean --windowed --name "start" --icon "resources/real_logo.ico" --add-data "resources:resources" "main.py"
